h1 {
  font-weight: 700;
}

.button-div {
  display: block;
  margin: auto;
  padding-top: 20px;
  text-align: center;
}

.delete {
  background-color: red;
  color: #efefef;
}

input {
  padding: 10px 20px 10px 20px;
  border: 1px solid white;
  border-radius: 5px;
}

input:focus {
  outline: none;
}
